<div class="detail-faq">
  <h1 mat-dialog-title>
    Thông tin chi tiết
    <hr />
  </h1>
  <mat-form-field appearance="outline">
    <mat-label>Nội dung</mat-label>
    <textarea disabled="true" class="noi-dung" matInput>{{
      data.phanHoi?.noiDung
    }}</textarea>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Từ khóa</mat-label>
    <textarea disabled="true" matInput class="cau-hoi">{{
      data.phanHoi?.cauHoi?.cauHoi
    }}</textarea>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Câu trả lời</mat-label>
    <textarea disabled="true" matInput class="tra-loi">{{
      data.phanHoi?.cauHoi?.traLoi
    }}</textarea>
  </mat-form-field>
  <button mat-raised-button color="warn" (click)="closePopup()">Đóng</button>
</div>
