<mat-toolbar color="header">
  <mat-toolbar-row>
    <div class="logo-container">
      <img src="../../../../assets/images/graduation-cap.png" alt="Logo" />
      <span class="text-logo">Hệ thống quản lý</span>
    </div>
    <div class="button-text">
      <button class="widen" mat-raised-button routerLink="/sinh-vien">
        <mat-icon>home</mat-icon> <span>Trang chủ</span>
      </button>
      <button class="widen" mat-raised-button (click)="dangXuat()">
        <mat-icon>exit_to_app</mat-icon><span>Đăng xuất</span>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="button-menu">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="demo-section">
        <mat-icon routerLink="/sinh-vien/thong-bao" matBadge={{soThongBao}} matBadgeColor="warn" matBadgeSize="small" aria-hidden="false">notifications</mat-icon>
      </div>
    </div>

  </mat-toolbar-row>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      class="example-icon"
      aria-label="Example"
      routerLink="/sinh-vien"
    >
      <mat-icon>home</mat-icon> Trang chủ
    </button>
    <button
      mat-menu-item
      class="example-icon"
      aria-label="Exampma"
      (click)="dangXuat()"
    >
      <mat-icon>logout</mat-icon> Đăng xuất
    </button>
  </mat-menu>
</mat-toolbar>
