<mat-toolbar color="header">
  <div class="logo-container">
    <img src="../../../../assets/images/graduation-cap.png" alt="Logo">
    <span >Hệ thống quản lý</span>
  </div>
  <span class="student-header"></span>

  <div class="toolbar-buttons">
    <button mat-raised-button routerLink="/sinh-vien" aria-label="Trang chủ">
      <mat-icon>home</mat-icon>Trang chủ
    </button>
    <button mat-raised-button (click)="dangXuat()" aria-label="Đăng xuất">
      <mat-icon>exit_to_app</mat-icon>Đăng xuất
    </button>
  </div>
</mat-toolbar>
