mat-card {
  margin: 20px;
  padding: 20px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-icons {
  cursor: pointer;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center; /* To align the icons and the text vertically */
}

.navigation-icons .month-year {
  flex-grow: 1; /* To take the remaining space */
  text-align: center;
}

mwl-calendar-month-view {
  width: 100%;
  max-width: 800px;
}
