h1 {
  font-size: 24px;
  text-align: center;
}

.table-container {
  overflow: auto;
  max-height: 400px;
}

mat-table {
  width: 100%;
}

mat-cell, mat-header-cell {
  padding: 16px;
  text-align: left;
}

mat-dialog-actions {
  justify-content: flex-end;
}

button {
  margin-right: 8px;
}
.mat-column-tenDangNhap{
  max-width: 64px;
}
.mat-column-tenDayDu{
  max-width: 180px;
}

  