
<mat-card>
  <div class="container content-home" *ngIf="dataSV; else NoData">
    <div class="left-section">
      <mat-card class="student-info-card">
        <mat-card-header class="center-title">
          <mat-card-title>THÔNG TIN SINH VIÊN</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <span class="label">Mã SV:</span>
              <span class="field-infor">{{ dataSV.taiKhoan.tenDangNhap }}</span>
            </mat-list-item>
            <mat-list-item>
              <span class="label">Họ tên:</span>
              <span class="field-infor">{{ dataSV.taiKhoan.tenDayDu }}</span>
            </mat-list-item>
            <mat-list-item>
              <span class="label">Ngày sinh:</span>
              <span class="field-infor">{{ dataSV.taiKhoan.ngaySinh }}</span>
            </mat-list-item>
            <mat-list-item>
              <span class="label">Giới Tính:</span>
              <span class="field-infor">{{ dataSV.taiKhoan.gioiTinh }}</span>
            </mat-list-item>
            <mat-list-item>
              <span class="label">Lớp:</span>
              <span class="field-infor">DI19Y1A1</span>
            </mat-list-item>
            <mat-list-item>
              <span class="label">Ngành học:</span>
              <span class="field-infor">Tin học ứng dụng</span>
            </mat-list-item>
            <mat-list-item>
              <span class="label">Năm nhập học:</span>
              <span class="field-infor">{{ dataSV.namNhapHoc }}</span>
            </mat-list-item>
            <mat-list-item>
              <span class="label">Trường:</span>
              <span class="field-infor">Trường Công nghệ Thông tin &Truyền thông</span>
            </mat-list-item>
            <!-- Tương tự cho các thông tin khác -->
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" [routerLink]="['/infoDetail']">
            Xem thêm...
          </button>
        </mat-card-actions>
      </mat-card>
      <!-- Additional mat-card for family info, advisory info can go here -->
    </div>

    <div class="right-section">
      <mat-card>
        <mat-grid-list cols="2" rowHeight="100px">
          <mat-grid-tile routerLink="/infoDetail">
            <div class="tile-content">
              <img src="../../../assets/images/info.png" alt="#" />
              <span>Thông tin sinh viên</span>
            </div>
          </mat-grid-tile>

          <mat-grid-tile routerLink="/education-program">
            <div class="tile-content">
              <img src="../../../assets/images/calendar.png" alt="#" />
              <span>Chương trình đào tạo</span>
            </div>
          </mat-grid-tile>

          <mat-grid-tile routerLink="/learning-result">
            <div class="tile-content">
              <img src="../../../assets/images/exam.png" alt="#" />
              <span>Kết quả học tập</span>
            </div>
          </mat-grid-tile>

          <mat-grid-tile routerLink="/test-schedule">
            <div class="tile-content">
              <img src="../../../assets/images/lichthi.png" alt="#" />
              <span>Lịch thi</span>
            </div>
          </mat-grid-tile>

          <mat-grid-tile routerLink="/tuition">
            <div class="tile-content">
              <img src="../../../assets/images/tuition.png" alt="#" />
              <span>Học phí</span>
            </div>
          </mat-grid-tile>

          <mat-grid-tile routerLink="/sinh-vien/phan-hoi-chat">
            <div class="tile-content">
              <img src="../../../assets/images/feedback.png" alt="#" />
              <span>Phản hồi chat</span>
            </div>
          </mat-grid-tile>

          <mat-grid-tile (click)="test()">
            <div class="tile-content">
              <img src="../../../assets/images/graduation.png" alt="#" />
              <span>Kết quả học tập</span>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="tile-content">
              <img src="../../../assets/images/dormitory.png" alt="#" />
              <span>Ký túc xá</span>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="tile-content">
              <img src="../../../assets/images/microbiology.png" alt="#" />
              <span>Nghiên cứu khoa học</span>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="tile-content">
              <img src="../../../assets/images/extracurricular.png" alt="#" />
              <span>Hoạt động ngoại khóa</span>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
      <!-- Additional mat-card for other info can go here -->
    </div>
  </div>

  <ng-template #NoData>
    <mat-spinner></mat-spinner>
  </ng-template>
</mat-card>
<app-chat></app-chat>
