<div class="detail-khoa">
  <h1 mat-dialog-title>
    Thông tin chi tiết
    <hr />
  </h1>
  <mat-form-field appearance="outline">
    <mat-label>Tên Khoa</mat-label>
    <textarea disabled="true" class="ten-khoa" matInput>{{
      data.item?.tenKhoa
    }}</textarea>
  </mat-form-field>

  <!-- <mat-form-field appearance="outline">
    <mat-label>Trường</mat-label>
    <textarea disabled="true" class="ten-truong" matInput>{{
      data.item?.truong?.tenTruong
    }}</textarea>
  </mat-form-field> -->

  <button mat-raised-button color="warn" (click)="closePopup()">Đóng</button>
</div>
