<mat-toolbar color="header" class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon color="basic">menu</mat-icon>
  </button>
  <img src="../../../../assets/images/graduation-cap.png" alt="Logo" (click)="home()"/>
  <span>Hệ thống quản lý</span>
  <span class="example-spacer"></span>
  <span [matMenuTriggerFor]="menu">Xin chào {{username}}!</span>
  <!-- <mat-icon class="dang-xuat" color="white" [matMenuTriggerFor]="menu">exit_to_app</mat-icon> -->
  <ng-content select="[notification]"></ng-content>
  <mat-menu #menu="matMenu">
    <button (click)="info()" mat-menu-item>Thông tin cá nhân</button>
    <button (click)="logout()" mat-menu-item>Đăng xuất</button>

  </mat-menu>
</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <ng-content select="[drawer-content]"></ng-content>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content">
      <app-breadcrumbs></app-breadcrumbs>
      <router-outlet> </router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
