<div class="detail-faq">
  <h1 mat-dialog-title>
    Thông tin chi tiết
    <hr />
  </h1>
  <mat-form-field appearance="outline">
    <mat-label>Tên loại hoạt động</mat-label>
    <textarea disabled="true" class="cau-hoi" matInput>{{
      data.item?.tenLoaiHoatDong
    }}</textarea>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Mô tả</mat-label>
    <textarea disabled="true" matInput class="tra-loi">{{
      data.item?.moTa
    }}</textarea>
  </mat-form-field>
  <button mat-raised-button color="warn" (click)="closePopup()">Đóng</button>
</div>
