<div class="table-box mat-elevation-z4">
  <mat-form-field appearance="outline" class="search-container">
    <mat-label>Tìm kiếm</mat-label>
    <input
      matInput
      placeholder="Nhập nội dung tìm kiếm..."
      [(ngModel)]="searchTerm"
      class="example-full-width"
    />
    <mat-icon (click)="onSearch()"  matTooltip="Tìm kiếm"
     matSuffix color="search">search</mat-icon>
    <mat-icon (click)="refresh()" matTooltip="Làm mới"
     matSuffix color="search">refresh</mat-icon>
  </mat-form-field>
  <mat-table [dataSource]="danhSachPhanHoi" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="stt">
      <mat-header-cell *matHeaderCellDef>STT</mat-header-cell>
      <mat-cell *matCellDef="let i = index">{{ i + 1 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="noiDung">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Nội dung</mat-header-cell
      >
      <mat-cell *matCellDef="let item">{{
        item?.noiDung
      }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="cauHoi.cauHoi">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Từ Khóa</mat-header-cell>
      <mat-cell *matCellDef="let item">
        {{ item?.cauHoi?.cauHoi }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="sinhVien.taiKhoan.tenDayDu">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Người gửi</mat-header-cell>
      <mat-cell *matCellDef="let item">
        {{ item?.sinhVien?.taiKhoan.tenDayDu }} - {{ item?.sinhVien?.taiKhoan.tenDangNhap }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="hanhdong">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let item">
          <mat-icon class="icon-detail" (click)="detail(item)">info</mat-icon>
          <mat-icon class="icon-delete" (click)="deleteFeedback(item.maPhanHoi)">delete</mat-icon>
          <mat-icon class="icon-reply" (click)="replyFeedback(item)">reply</mat-icon>
      </mat-cell>

    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      matRipple class="element-row"
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>
  <mat-paginator
    [length]="length || 0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
