<!-- <mat-tab-group dynamicHeight>
  <mat-tab label="Phản hồi chat">
    <div class="form-box mat-elevation-z4">
      <form [formGroup]="phanHoiForm" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field class="example-full-width" appearance="outline">
          <textarea
            matInput
            placeholder="Nhập thắc mắc của bạn ở đây..."
            formControlName="noiDung"
          ></textarea>
          <mat-error> Bạn chưa điền nội dung kìa!!! </mat-error>
        </mat-form-field>
        <div class="submit-button">
          <button mat-raised-button type="submit" color="submit">
            Gửi Phản Hồi
          </button>
          <button mat-raised-button (click)="ok()" color="submit">
            ok
          </button>
        </div>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Danh sách phản hồi">
    <div class="table-box mat-elevation-z4">
      <mat-form-field appearance="outline" class="search-container">
        <mat-label>Tìm kiếm</mat-label>
        <input
          matInput
          placeholder="Nhập nội dung tìm kiếm..."
          [(ngModel)]="searchTerm"
          class="example-full-width"
        />
        <mat-icon (click)="onSearch()" matSuffix color="search"
          >search</mat-icon
        >
        <mat-icon (click)="refresh()" matSuffix color="search"
          >refresh</mat-icon
        >
      </mat-form-field>
      <mat-table
        [dataSource]="danhSachPhanHoi"
        matSort
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="stt">
          <mat-header-cell *matHeaderCellDef>STT</mat-header-cell>
          <mat-cell *matCellDef="let i = index">{{ i + 1 }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="noiDung">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Nội Dung</mat-header-cell>
          <mat-cell *matCellDef="let phanHoi">{{ phanHoi.noiDung }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cauHoi">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Từ Khóa</mat-header-cell>
          <mat-cell *matCellDef="let phanHoi">
            {{ phanHoi.cauHoi?.cauHoi }}
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator
        [length]="length || 0"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </mat-tab>
</mat-tab-group> -->
<app-list-lecturer></app-list-lecturer>

