<mat-card>
  <div class="search-container">
     <button   mat-icon-button
     color="add" *ngIf="showAddButton && this.role !== 'QuanTriVien'" matTooltip="Gửi hoạt động mới"
      (click)="addHoatDong()" class="icon-add"> <mat-icon>add</mat-icon></button>
    <mat-form-field appearance="outline" class="search-input">
      <mat-label>Tìm kiếm</mat-label>
      <input
        matInput
        placeholder="Nhập nội dung tìm kiếm..."
        [(ngModel)]="searchTerm"
        class="example-full-width"
      />
      <mat-icon (click)="onSearch()"  matTooltip="Tìm kiếm"
      matSuffix color="search">search</mat-icon>
    </mat-form-field>
  </div>
  <div class="filter">
    <button mat-icon-button (click)="toggleFilter()" matTooltip="Lọc">
      <mat-icon>{{ filterVisible ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <button mat-icon-button (click)="refresh()" matTooltip="Làm mới" >
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <div [ngClass]="{ hidden: !filterVisible }" class="date-range-container">

    <mat-form-field appearance="outline">
      <mat-label>Trạng thái</mat-label>
      <mat-select [(value)]="status"
      (valueChange)="filter()" >
        <mat-option value="Chua_Duyet">Chưa duyệt</mat-option>
        <mat-option value="Da_Duyet">Đã duyệt</mat-option>

        <!-- thêm các option khác nếu cần -->
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Năm</mat-label>
      <mat-select [(value)]="selectedYear" (valueChange)="onYearChange()">
        <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z4">
    <mat-table
      [dataSource]="danhSachHoatDong"
      matSort
      class="demo-table mat-elevation-z8"
    >
      <ng-container matColumnDef="stt">
        <mat-header-cell *matHeaderCellDef>STT</mat-header-cell>
        <mat-cell *matCellDef="let i = index">{{ i + 1 }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="tenHoatDong">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Tên hoạt động</mat-header-cell
        >
        <mat-cell *matCellDef="let item"> {{ item.tenHoatDong }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="thoiGianBatDau">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Bắt đầu</mat-header-cell
        >
        <mat-cell *matCellDef="let item">
          {{ item.thoiGianBatDau | date : "HH:mm:ss dd/MM/yyyy" }}</mat-cell
        >
      </ng-container>
      <ng-container matColumnDef="thoiGianKetThuc">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Kết thúc</mat-header-cell
        >
        <mat-cell *matCellDef="let item">
          {{ item.thoiGianKetThuc | date : "HH:mm:ss dd/MM/yyyy" }}</mat-cell
        >
      </ng-container>
      <ng-container matColumnDef="giangVien.taiKhoan.tenDayDu">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Người gửi</mat-header-cell
        >
        <mat-cell *matCellDef="let item"  (click)="chiTietGiangVien(item.giangVien)">
          {{ item.giangVien.taiKhoan.tenDayDu }}</mat-cell
        >
      </ng-container>
      <ng-container matColumnDef="hanhdong">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let item">
          <mat-icon color="primary"  matTooltip="Xem chi tiết" (click)="detail(item)"
            >infor</mat-icon
          >
          <mat-icon *ngIf="this.role !== 'QuanTriVien' && item.trangThai ==='Chua_Duyet'"
          matTooltip="Chỉnh sữa" color="primary" (click)="editHoatDong(item)"
          >edit</mat-icon
        >
        <mat-icon *ngIf="this.role === 'QuanTriVien' && item.trangThai ==='Chua_Duyet'"
        matTooltip="Duyệt" color="primary" (click)="duyetHoatDong(item)"
          >check_circle</mat-icon
        >
          <mat-icon *ngIf="this.role === 'GiangVien' && item.trangThai ==='Chua_Duyet'"
          matTooltip="Xóa"  color="accent" (click)="deleteHoatDong(item.maHoatDongNgoaiTruong)"
            >delete
          </mat-icon>
          <mat-icon  *ngIf="this.role === 'QuanTriVien' && item.trangThai ==='Chua_Duyet'"
          matTooltip="Hủy" color="accent" (click)="huyHoatDong(item.maHoatDongNgoaiTruong)"
            >close
          </mat-icon>
          <ng-container *ngIf="customButton">
            <ng-container *ngTemplateOutlet="customButton; context: { $implicit: item }"></ng-container>
          </ng-container>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        matRipple
        class="element-row"
        *matRowDef="let row; columns: displayedColumns"
      ></mat-row>
    </mat-table>
    <mat-paginator
      [length]="length || 0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</mat-card>
