<mat-card>
  <div class="search-container">
    <mat-form-field appearance="outline" class="search-input">
      <mat-label>Tìm kiếm</mat-label>
      <input
        matInput
        placeholder="Nhập nội dung tìm kiếm..."
        [(ngModel)]="searchTerm"
        class="example-full-width"
      />
      <mat-icon (click)="onSearch()"  matTooltip="Tìm kiếm"
      matSuffix color="search">search</mat-icon>
    </mat-form-field>
  </div>
  <div class="filter">
    <button mat-icon-button (click)="toggleFilter()"  matTooltip="Lọc">
      <mat-icon>{{ filterVisible ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <button mat-icon-button (click)="refresh()" matTooltip="Làm mới">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <div [ngClass]="{ hidden: !filterVisible }" class="date-range-container">
    <mat-form-field appearance="outline">
      <mat-label>Ngày bắt đầu</mat-label>
      <input
        matInput
        [matDatepicker]="startPicker"
        [(ngModel)]="startTime"
        (ngModelChange)="filter()"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="startPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ngày kết thúc</mat-label>
      <input
        matInput
        [matDatepicker]="endPicker"
        [(ngModel)]="endTime"
        (ngModelChange)="filter()"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="endPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Trạng thái</mat-label>
      <mat-select [(value)]="status" (valueChange)="filter()">
        <mat-option value="Chua_Duyet">Chưa Duyệt</mat-option>
        <mat-option value="Da_Duyet">Đã Duyệt</mat-option>
        <mat-option value="Da_Huy">Đã Hủy</mat-option>
        <!-- thêm các option khác nếu cần -->
      </mat-select>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z4">
    <mat-table
      [dataSource]="danhSachDangKy"
      matSort
      class="demo-table mat-elevation-z8"
    >
      <ng-container matColumnDef="stt">
        <mat-header-cell *matHeaderCellDef>STT</mat-header-cell>
        <mat-cell *matCellDef="let i = index">{{ i + 1 }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="hoatDong.tenHoatDong">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Tên hoạt động</mat-header-cell
        >
        <mat-cell *matCellDef="let item" (click)="chiTietHoatDong(item.hoatDong)">
          {{ item.hoatDong.tenHoatDong }}</mat-cell
        >
      </ng-container>
      <ng-container matColumnDef="giangVien.taiKhoan.tenDayDu">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Tên Giảng Viên</mat-header-cell
        >
        <mat-cell *matCellDef="let item" (click)="chiTietGiangVien(item.giangVien)">
          {{ item.giangVien.taiKhoan.tenDayDu }}</mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="hanhdong">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let item">
          <ng-container *ngIf="item.trangThaiDangKy === 'Chua_Duyet'; else daDuyetOrDaHuyBlock">
            <button mat-stroked-button
            [disabled]="item.hoatDong.trangThaiHoatDong === 'SAP_DIEN_RA' ||
            item.hoatDong.trangThaiHoatDong === 'DANG_DIEN_RA'"
                    (click)="duyet(item.maDangKy)"
                    color="primary"
                    style="margin-right: 5px;">
              Duyệt
            </button>
            <button mat-stroked-button
                    (click)="huy(item)"
                    color="warn">
              Hủy
            </button>
          </ng-container>

          <ng-template #daDuyetOrDaHuyBlock>
            <ng-container *ngIf="item.trangThaiDangKy === 'Da_Duyet'; else daHuyBlock">
              <button mat-stroked-button
                      (click)="huy(item)"
                      color="warn"
                      style="margin-right: 5px;">
                Hủy
              </button>
            </ng-container>
            <ng-template #daHuyBlock>
              <button mat-stroked-button

                      (click)="duyet(item.maDangKy)"
                      color="primary"
                      style="margin-right: 5px;">
                Duyệt Lại
              </button>
              <mat-icon (click)="xemChiTiet(item)" style="cursor: pointer;">info</mat-icon>
            </ng-template>
          </ng-template>


        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        matRipple
        class="element-row"
        *matRowDef="let row; columns: displayedColumns"
      ></mat-row>
    </mat-table>
    <mat-paginator
      [length]="length || 0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</mat-card>
