<form [formGroup]="myform" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ data && data.item ? 'Cập nhật Khoa' : 'Thêm Khoa' }}</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Tên Khoa</mat-label>
      <input formControlName="tenKhoa" matInput required />
      <mat-error *ngIf="formControls.tenKhoa && formControls.tenKhoa.errors?.['required']">
        Tên Khoa là bắt buộc
      </mat-error>
    </mat-form-field>

    <!-- Dropdown để chọn Trường
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Chọn Trường</mat-label>
      <mat-select formControlName="maTruong" required>
        <mat-option *ngFor="let truong of danhSachTruong" [value]="truong.maTruong">
          {{ truong.tenTruong }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary">
      {{ data && data.item ? 'Cập nhật' : 'Lưu' }}
    </button>
    <button (click)="closePopup($event)" mat-raised-button color="warn">Đóng</button>
  </div>
</form>
