<form [formGroup]="myform" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ 'Cập nhật Giờ Miễn Giảm' }}</h1>
  <div mat-dialog-content>
    <!-- Trường chọn năm -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Năm</mat-label>
      <mat-select formControlName="nam" required>
        <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Trường nhập giờ miễn giảm -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Giờ Miễn Giảm</mat-label>
      <input formControlName="gioMienGiam" matInput required />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary">Lưu</button>
    <button (click)="closePopup($event)" mat-raised-button color="warn">Đóng</button>
  </div>
</form>
