<mat-card>

  <div class="search-container">

    <button mat-icon-button color="add" (click)="addFaq()" class="icon-add">
      <mat-icon>add</mat-icon>
    </button>
    <mat-form-field appearance="outline" class="search-input">
      <mat-label>Tìm kiếm</mat-label>
      <input
        matInput
        placeholder="Nhập nội dung tìm kiếm..."
        [(ngModel)]="searchTerm"
        class="example-full-width"
      />
      <mat-icon (click)="onSearch()" matSuffix color="search">search</mat-icon>
      <mat-icon (click)="refresh()" matSuffix color="search">refresh</mat-icon>
    </mat-form-field>
  </div>

  <div class="filter">
    <input type="file" (change)="onUploadFile($event)" hidden #fileInput>
    <button mat-icon-button (click)="fileInput.click()">
      <mat-icon>upload</mat-icon>
    </button>

  </div>

  <div class="mat-elevation-z4">
  <mat-table
    [dataSource]="danhSachCauHoi"
    matSort
    class="demo-table mat-elevation-z8"
  >
    <ng-container matColumnDef="stt">
      <mat-header-cell *matHeaderCellDef>STT</mat-header-cell>
      <mat-cell *matCellDef="let i = index">{{ i + 1 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cauHoi">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Từ Khóa</mat-header-cell
      >
      <mat-cell *matCellDef="let cauHoi">
        {{
          cauHoi.cauHoi?.length > 50
            ? cauHoi.cauHoi.slice(0, 50) + "..."
            : cauHoi.cauHoi
        }}</mat-cell
      >
    </ng-container>
    <ng-container matColumnDef="traLoi">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Trả Lời</mat-header-cell
      >
      <mat-cell *matCellDef="let cauHoi">
        {{
          cauHoi.traLoi?.length > 50
            ? cauHoi.traLoi.slice(0, 50) + "..."
            : cauHoi.traLoi
        }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="soLuongDaHoi">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Lượt hỏi</mat-header-cell
      >
      <mat-cell *matCellDef="let cauHoi">
        {{
          cauHoi?.soLuongDaHoi
        }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="hanhdong">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let item" >
        <mat-icon color="primary" (click)="detail(item.maCauHoi)">infor</mat-icon>
        <mat-icon color="accent" (click)="deleteFaq(item.maCauHoi)">delete </mat-icon>
      </mat-cell>



    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row

      matRipple
      class="element-row"
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>
  <mat-paginator
    [length]="length || 0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
</mat-card>

