<mat-toolbar color="header" class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon color="basic">menu</mat-icon>
  </button>
  <span>Material UI Tutorial</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button (click)="logout()" mat-menu-item>Logout</button>
    <button mat-menu-item>hihi</button>
  </mat-menu>

</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list class = "drawer">
      <mat-list-item routerLink="/quan-tri-vien/danh-sach-giang-vien" routerLinkActive="active-link">
        <button mat-button disabled>
         <mat-icon>school</mat-icon>
          <span>Giảng Viên</span>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/quan-tri-vien/danh-sach-sinh-vien" routerLinkActive="active-link">
        <button  mat-button disabled>
          <mat-icon>people</mat-icon><span>Sinh Viên</span></button>
      </mat-list-item>
      <mat-list-item routerLink="/quan-tri-vien/danh-sach-cau-hoi" routerLinkActive="active-link">
        <button  mat-button disabled>
          <mat-icon>question_answer</mat-icon><span>Câu hỏi</span></button>
      </mat-list-item>
      <mat-list-item routerLink="/quan-tri-vien/danh-sach-phan-hoi" routerLinkActive="active-link">
        <button  mat-button disabled>
          <mat-icon>feedback</mat-icon><span>Phản hồi</span></button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="table" mat-button>
          <mat-icon>table</mat-icon> Table
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="form" mat-button>
          <mat-icon>receipt</mat-icon> Form
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
