.example-spacer {
  flex: 1 1 auto;
}
.drawer{
  width: 220px;
}
mat-list-item span,mat-icon {
  color: black;
}
.mat-header{
  color: white;
  background-color: #724AE8;
}
.mat-basic{
  color: white;
}
mat-list-item button {
  border-radius: 10px;
}

.active-link {
  border-radius: 10px;
  background-color: #815af7;
  border-left: 5px solid #ffff00;
  font-weight: bold;
}
.active-link mat-icon,
.active-link span {
  color: white;
}

.content{
  text-align: center;
}
