<mat-card>
  <div class="search-container">
    <button mat-icon-button color="add" (click)="addChucDanh()" class="icon-add">
      <mat-icon>add</mat-icon>
    </button>
    <mat-form-field appearance="outline" class="search-input">
      <mat-label>Tìm kiếm</mat-label>
      <input matInput placeholder="Nhập nội dung tìm kiếm..." [(ngModel)]="searchTerm" class="example-full-width" />
      <mat-icon (click)="onSearch()" matSuffix color="search">search</mat-icon>
      <mat-icon (click)="refresh()" matSuffix color="search">refresh</mat-icon>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z4">
    <mat-table [dataSource]="danhSachChucDanh" matSort class="mat-elevation-z8">
      <!-- Các cột trong bảng -->
      <ng-container matColumnDef="stt">
        <mat-header-cell *matHeaderCellDef>STT</mat-header-cell>
        <mat-cell *matCellDef="let i = index">{{ i + 1 }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="tenChucDanh">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Tên Chức Danh</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.tenChucDanh }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="gioBatBuoc">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Giờ Quy Định</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.gioBatBuoc }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="hanhdong">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let item">
          <mat-icon  color="primary" (click)="detailChucDanh(item)">info</mat-icon>
          <mat-icon color="primary" (click)="editChucDanh(item)">edit</mat-icon>
          <mat-icon color="accent" (click)="deleteChucDanh(item.maChucDanh)">delete</mat-icon>
        </mat-cell>
      </ng-container>

      <!-- Dòng tiêu đề của bảng -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <!-- Dòng dữ liệu của bảng -->
      <mat-row class="element-row" *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <!-- Phân trang -->
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>
</mat-card>
