<div class="page-header" *ngIf="user.quyen === 'SinhVien'" >
  <h1>Thông Báo</h1>
</div>
<div *ngIf="!ThongBaos; else notificationsList"></div>

<mat-tab-group>
  <ng-template #notificationsList>

    <mat-tab label="Chưa đọc">
      <div class="form-box mat-elevation-z4" *ngIf="TBChuaDoc && TBChuaDoc.length > 0; else noUnreadNotifications">
      <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
        <mat-step *ngFor="let thongBao of TBChuaDoc">
          <ng-template matStepLabel>
          <span class="text">{{ thongBao.tieuDe }}</span>
          </ng-template>
          <form [formGroup]="firstFormGroup">
           <span class="green-text">{{ thongBao.ngayTao | date : "HH:mm:ss dd/MM/yyyy" }}</span>
            <div>
              <button  mat-button  color="accent"  (click)="handleNotificationClick(thongBao)">
                Xem chi tiết...
              </button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
      </div>
    </mat-tab>

    <mat-tab label="Đã đọc">
      <div class="form-box mat-elevation-z4" *ngIf="TBDaDoc && TBDaDoc.length > 0; else noReadNotifications">
      <mat-stepper orientation="vertical" [linear]="isLinear" #stepper2>
        <mat-step *ngFor="let thongBao of TBDaDoc">
          <ng-template matStepLabel>
           <span class="text">{{ thongBao.tieuDe }}</span>
          </ng-template>
          <form [formGroup]="secondFormGroup">
          <span class="green-text">{{ thongBao.ngayTao | date : "HH:mm:ss dd/MM/yyyy" }}</span>
            <div>
              <button  mat-button  color="accent"   (click)="handleNotificationClick(thongBao)">
                Xem chi tiết...
              </button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
      </div>
      <div class="button-container">
        <button mat-stroked-button  color="warn" (click)="handleDeleteAll()">
          <mat-icon>delete</mat-icon>
          Xóa tất cả
        </button>
      </div>
    </mat-tab>
  </ng-template>
</mat-tab-group>

<!-- Template cho trường hợp không có thông báo chưa đọc -->
<ng-template #noUnreadNotifications>
  <div class="no-notifications">Không có thông báo chưa đọc</div>
</ng-template>

<!-- Template cho trường hợp không có thông báo đã đọc -->
<ng-template #noReadNotifications>
  <div class="no-notifications">Không có thông báo đã đọc</div>
</ng-template>
