#toast-container > .toast-success {
  background-image: url("../src/assets/icon/icon-success.png");
  background-color: #ffffff;
  color: rgb(22, 192, 62);
}
#toast-container > .toast-error {
  background-image: url("../src/assets/icon/error.png");
  background-color: #ffffff;
  color: red;
}

#toast-container > .toast-warning {
  background-image: url("../src/assets/icon/warning.png");
  background-color: #ffffff;
  color: rgb(255, 166, 0)
}
