<form [formGroup]="myform" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ data && data.item ? 'Cập nhật Trường' : 'Thêm Trường' }}</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Tên Trường</mat-label>
      <input formControlName="tenTruong" matInput required />
      <mat-error *ngIf="formControls.tenTruong && formControls.tenTruong.errors?.['required']">
        Tên Trường là bắt buộc
      </mat-error>
    </mat-form-field>
 
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary">
      {{ data && data.item ? 'Cập nhật' : 'Lưu' }}
    </button>
    <button (click)="closePopup($event)" mat-raised-button color="warn">Đóng</button>
  </div>
</form>
