<app-sidebar>
  <div drawer-content>
    <mat-nav-list class="drawer">
      <ng-container *ngFor="let menuItem of menuItems; let i = index">
        <mat-list-item
          (click)="toggleSubMenu(i)"
          [ngClass]="{'active-link': selectedLink === menuItem.label || activeMenuIndex === i}"
        >
          <button mat-button disabled>
            <mat-icon>{{ menuItem.icon }}</mat-icon>
            <span>{{ menuItem.label }}</span>
          </button>
          <button mat-button disabled>
            <mat-icon>{{ activeMenuIndex === i ? 'arrow_right' : 'arrow_drop_down' }}</mat-icon>
          </button>

        </mat-list-item>
        <div *ngIf="activeMenuIndex === i">
          <mat-list-item
            *ngFor="let subItem of menuItem.subItems"
            [routerLink]="subItem.routerLink"
            routerLinkActive="active-link"
          >
            <button mat-button disabled>
              <mat-icon>{{ subItem.icon }}</mat-icon>
              <span>{{ subItem.label }}</span>
            </button>
          </mat-list-item>
        </div>
      </ng-container>
    </mat-nav-list>
  </div>
</app-sidebar>
